/* .react-h5-audio-player .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.react-h5-audio-player .flex .toggle-play-wrapper {
  flex: 1 0 60px;
  -webkit-box-flex: 1 0 60px;
  -moz-box-flex: 1 0 60px;
  -ms-flex: 1 0 60px;
}
.react-h5-audio-player .flex .progress-bar-wrapper {
  flex: 10 0 auto;
  -webkit-box-flex: 10 0 auto;
  -moz-box-flex: 10 0 auto;
  -ms-flex: 10 0 auto;
} */

.react-h5-audio-player .toggle-play-wrapper .toggle-play-button {
  background-color: #dd3e3e !important;
}

/* * {
  box-sizing: border-box;
} */

/* body {
  min-height: 100vh;
  font-family: sans-serif;
  padding: 50px;
} */

.card {
  display: block;
  position: relative;
  width: 300px;
  height: 450px;
  border: 1px solid #cccccc;
}

.card-header {
  width: 100%;
  height: 150px;
  background-color: #eeffcc;
}

.card-body {
  width: 100%;
  height: calc(100% - 50px - 150px);
  background-color: #dddddd;
  overflow: auto;
}

.card-footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

.card-share {
  justify-content: right;
}

.dg-share-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 0;
  padding: 10px 10px;
  max-width: 120px;
  border: 1px solid #cccccc;
  text-align: center;
  text-decoration: none;
  transition: border 0.3s ease, background 0.3s ease;
}
.dg-share-button.fill-space {
  max-width: 100%;
}
.dg-share-button.hide-border {
  background: transparent;
  border: 1px solid transparent;
}
.dg-share-button.hide-border:hover {
  background: transparent;
  border: 1px solid #cccccc;
}
.dg-share-button:hover {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}

.dg-share-button-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-color: #efefef;
}
.dg-share-button-icon.icon-left {
  margin-left: 0;
  margin-right: 5px;
}
.dg-share-button-icon.icon-right {
  order: 2;
  margin-left: 5px;
  margin-right: 0;
}
.dg-share-button-icon .svg {
  position: relative;
  top: -3px;
}

.dg-share-button-text {
  text-transform: uppercase;
  color: #3a3c3f;
  font-size: 11px;
  letter-spacing: 0.1em;
}

.dg-share-button-popup {
  display: block;
  position: absolute;
  z-index: -1;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  box-shadow: 0 5px 8px #cccccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
}
.dg-share-button-popup::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 5px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 0 solid;
  transform: translate(-50%, 100%);
}
.dg-share-button-popup.active {
  transform: translateY(calc(-100% - 10px));
  opacity: 1;
  z-index: 2;
}
.dg-share-button-popup ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
}
.dg-share-button-popup li {
  display: inline;
  margin-right: 10px;
}
.dg-share-button-popup li:last-child {
  margin-right: 0;
}
.dg-share-button-popup li span[data-i] {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #efefef;
}
.dg-share-button-popup li span {
  display: none;
}

.popover {
  display: inline-block;
  position: relative;
}
.popover__menu {
  border-radius: 4px;
  border-top: 2px solid #49c5b6;
  background: #fff;
  list-style-type: none;
  margin: 8px 0;
  min-width: 100%;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 3px 0 rgba(63, 63, 68, 0.2);
  transition-property: transform, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transform: scale(0.9);
  transform-origin: top left;
  display: block;
  opacity: 0;
}
.popover__menu:after {
  bottom: 100%;
  left: 0.5rem;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #49c5b6;
  border-width: 7px;
}
.popover__menu-item {
  white-space: nowrap;
}
.popover__menu-item button {
  border: 0;
  border-radius: 0;
  width: 100%;
  text-align: left;
}
.popover__menu-item button:hover,
.popover__menu-item button:focus {
  background-color: #f1f1f1;
}
.popover--active .popover__menu {
  transform: scale(1);
  display: block;
  opacity: 1;
}

button {
  border-color: #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.6rem 1rem;
}
