/** TIPS: 
1. The carousel shouldn't be in any other div, like for example div with class container. 
2. You can align image position in classes bg1, bg2, bg3 using css background-position.
*/
/* Carousel 100% Fullscreen */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 110vmin;
}
.carousel {
  /* margin-bottom: 60px; */
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}
.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .bg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/gpa.jpg");
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg"); */
  background-position: center center;
}
.carousel .carousel-inner .bg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/rev&mumSmile.jpg");
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg"); */
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/rev&mumDance.jpg");
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg"); */
  background-position: center top;
}

.carousel-caption h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  /* padding-top: 50px; */
  /* position: relative; */
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.5); */
}
.carousel-caption p {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  color: white;
  /* font-family: "Lora", serif;
  font-style: italic; */
  /* padding-top: 50px; */
  /* position: relative; */
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.5); */
}
