.auto-resize-portrait {
  height: 80px;
  width: 50px;
}

.filter-button {
  font-size: 18px;
  border-radius: 2px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  padding: 10px;
}
.filter-button:hover {
  font-size: 18px;
  border: 1px solid #f44336;
  border-radius: 2px;
  text-align: center;
  background-color: #f44336;
  color: #ffffff;
}
.btn-default:active .filter-button:active {
  background-color: #f44336;
  color: white;
}

.img-fancy > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.gallery_product {
  width: 250px;
  height: 250px;
  padding: 2px;
  object-fit: cover;
}
.gallery-div {
  margin-top: 50px;
  margin-bottom: 50px;
}
